In [1]:
#Relevant Libraries involved
import pandas as pd
import html5lib
calls_df = pd.read_html('https://www.shell.co.uk/business-customers/upstream-oil-and-gas-infrastructure/upstream-operational-information.html',header =0)

In [2]:
#Separating the 2 dataframes
Unplanned = calls_df[0]
Planned = calls_df[1]

In [3]:
#The column 'Volume Impact mcm/day' should contain only float values 
# - you should create another column called 'Remarks' that contain 
# the text that follows after the number.
#split functions separates anything after mcm/day
New_volume_impact_Unplanned=Unplanned['Volume impact mcm/day'].str.split('mcm/day',expand=True)
New_volume_impact_Planned=Planned['Volume impact mcm/day'].str.split('mcm/day',expand=True)

New_volume_impact_Planned

,0,1
0,12.5,
1,12.5,
2,16,(6-12hr plant outage for ESD testing)
3,7.5,(but 50% terminal capacity reduction during s...
4,17.5,ESD testing & planned maintenance on SEAL at ...
5,17.5,ESD testing & planned maintenance on SEAL at ...
6,7.5,(but 50% terminal capacity reduction during s...
7,16,
8,7.5,(but 50% terminal capacity reduction during s...
9,13,- No SEAL gas deliveries at Bacton due to una...
10,12.5,
11,Bacton available to receive gas deliveries – d...,None

In [4]:
#delete the original Volume impact columns
del Unplanned['Volume impact mcm/day']
del Planned['Volume impact mcm/day']

In [5]:
#Append the 2 columns to the data Frame
Unplanned['Volume impact mcm/day'] = New_volume_impact_Unplanned[0]
Unplanned['Remarks'] = New_volume_impact_Unplanned[1]

Planned['Volume impact mcm/day'] = New_volume_impact_Planned[0]
Planned['Remarks'] = New_volume_impact_Planned[1]

#Take away all the non numeric values in the Volume impact column
Unplanned['Volume impact mcm/day'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
Planned['Volume impact mcm/day'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

Planned

,Event ID,Message Type,Facility,Time Published,Time of Event,Expected End,Actual End,Volume impact mcm/day,Remarks
0,20180514BN,New,Bacton,10:00 21/11/2017,06:00 14/05/2018,06:00 15/05/2018,NaN,125,
1,20180514BN,Revision,Bacton,11:55 15/05/2018,06:00 14/05/2018,18:00 15/05/2018,NaN,125,
2,20180212SF,New,St Fergus,17:20 06/12/2017,09:00 12/2/2018,21:00 12/2/2018,NaN,16,(6-12hr plant outage for ESD testing)
3,20180827SF,Revision,St Fergus,14:32 03/30/2017,06:00 15/08/2018,06:00 15/9/2018,NaN,75,(but 50% terminal capacity reduction during s...
4,201808081SL,New,SEAL,12:00 22/01/2018,06:00 01/08/2018,06:00 05/08/2018,NaN,175,ESD testing & planned maintenance on SEAL at ...
5,201808081SL,Revision,SEAL,11:00 06/04/2018,06:00 03/08/2018,06:00 07/08/2018,NaN,175,ESD testing & planned maintenance on SEAL at ...
6,20180213SF,New,St Fergus,12.45 1/2/2018,08:00 13/2/2018,20:00 13/2/2018,NaN,75,(but 50% terminal capacity reduction during s...
7,20180212SF,Final,St Fergus,23:00 12/02/2018,09:00 12/02/2018,21:00 12/02/2018,21:20 12/02/2018,16,
8,20180213SF,Final,St Fergus,14:20 14/02/2018,08:00 13/2/2018,20:00 13/2/2018,15:00 13/2/2018,75,(but 50% terminal capacity reduction during s...
9,20180601SL,New,SEAL,10:30 03/04/2018,06:00 01/06/2018,06:00 04/06/2018,NaN,13,- No SEAL gas deliveries at Bacton due to una...
10,20180514BN,Revision,Bacton,20:20 15/05/2018,06:00 14/05/2018,06:00 16/05/2018,NaN,125,
11,20180514BN,Final,Bacton,09:55 16/05/2018,06:00 14/05/2018,06:00 16/05/2018,09:30 16/05/2018,,None

In [6]:
# pd.to_numeric('Volume impact mcm/day')

In [7]:
#check and remove for duplicates
Unplanned[Unplanned.duplicated()]
Planned[Planned.duplicated()]

Empty DataFrame
Columns: [Event ID, Message Type, Facility, Time Published, Time of Event, Expected End, Actual End, Volume impact mcm/day, Remarks]
Index: []

In [9]:
#Data type, such as datetime, float, and integer, must be properly defined

Unplanned['Time Published'] = pd.to_datetime(Unplanned['Time Published'])
Unplanned['Time of Event'] = pd.to_datetime(Unplanned['Time of Event'])
# Unplanned['Expected End'] = pd.to_datetime(Unplanned['Expected End'])
Unplanned['Actual End'] = pd.to_datetime(Unplanned['Actual End'])
Unplanned['Volume impact mcm/day'] = pd.to_numeric(Unplanned['Volume impact mcm/day'])

# Planned['Time Published'] = pd.to_datetime(Planned['Time Published'])
Planned['Time of Event'] = pd.to_datetime(Planned['Time of Event'])
# Unplanned['Expected End'] = pd.to_datetime(Unplanned['Expected End'])
Planned['Actual End'] = pd.to_datetime(Planned['Actual End'])
Planned['Volume impact mcm/day'] = pd.to_numeric(Planned['Volume impact mcm/day'])

#Defining checkof the data types
Unplanned.info()
Planned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
Event ID                 4 non-null object
Message Type             4 non-null object
Facility                 4 non-null object
Time Published           4 non-null datetime64[ns]
Time of Event            4 non-null datetime64[ns]
Expected End             2 non-null object
Actual End               2 non-null datetime64[ns]
Volume impact mcm/day    2 non-null float64
Remarks                  2 non-null object
dtypes: datetime64[ns](3), float64(1), object(5)
memory usage: 368.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
Event ID                 12 non-null object
Message Type             12 non-null object
Facility                 12 non-null object
Time Published           12 non-null object
Time of Event            12 non-null datetime64[ns]
Expected End             12 non-null object
Actual End               3 non-null datetime64[ns]
Volume impact mcm/day    11 non-null float64
Remarks                  11 non-null object
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 944.0+ bytes

In [10]:
#All datetime fields have to be adjusted for timezone.

In [11]:
# If any of the entries is ‘unknown’, set it to null (None)
# All nan values and '-' should be converted to null (None).
# Unplanned = Unplanned.replace(np.nan,None)
Unplanned = Unplanned.astype(object).where(pd.notnull(Unplanned),None)
Unplanned = Unplanned.astype(object).where(Unplanned!='Unknown',None)

Planned = Planned.astype(object).where(pd.notnull(Planned),None)
Planned = Planned.astype(object).where(Planned!='Unknown',None)

In [12]:
#Final extracted Pandas Dataframe
Unplanned
Planned

,Event ID,Message Type,Facility,Time Published,Time of Event,Expected End,Actual End,Volume impact mcm/day,Remarks
0,20180514BN,New,Bacton,10:00 21/11/2017,2018-05-14 06:00:00,06:00 15/05/2018,None,125,
1,20180514BN,Revision,Bacton,11:55 15/05/2018,2018-05-14 06:00:00,18:00 15/05/2018,None,125,
2,20180212SF,New,St Fergus,17:20 06/12/2017,2018-12-02 09:00:00,21:00 12/2/2018,None,16,(6-12hr plant outage for ESD testing)
3,20180827SF,Revision,St Fergus,14:32 03/30/2017,2018-08-15 06:00:00,06:00 15/9/2018,None,75,(but 50% terminal capacity reduction during s...
4,201808081SL,New,SEAL,12:00 22/01/2018,2018-01-08 06:00:00,06:00 05/08/2018,None,175,ESD testing & planned maintenance on SEAL at ...
5,201808081SL,Revision,SEAL,11:00 06/04/2018,2018-03-08 06:00:00,06:00 07/08/2018,None,175,ESD testing & planned maintenance on SEAL at ...
6,20180213SF,New,St Fergus,12.45 1/2/2018,2018-02-13 08:00:00,20:00 13/2/2018,None,75,(but 50% terminal capacity reduction during s...
7,20180212SF,Final,St Fergus,23:00 12/02/2018,2018-12-02 09:00:00,21:00 12/02/2018,2018-12-02 21:20:00,16,
8,20180213SF,Final,St Fergus,14:20 14/02/2018,2018-02-13 08:00:00,20:00 13/2/2018,2018-02-13 15:00:00,75,(but 50% terminal capacity reduction during s...
9,20180601SL,New,SEAL,10:30 03/04/2018,2018-01-06 06:00:00,06:00 04/06/2018,None,13,- No SEAL gas deliveries at Bacton due to una...
10,20180514BN,Revision,Bacton,20:20 15/05/2018,2018-05-14 06:00:00,06:00 16/05/2018,None,125,
11,20180514BN,Final,Bacton,09:55 16/05/2018,2018-05-14 06:00:00,06:00 16/05/2018,2018-05-16 09:30:00,None,None

In [ ]:
Unplanned.info()

In [ ]:
# Unplanned[['Volume_impact','Remarks']] =

In [ ]:
Volume_impact[0]