In [2]:
import pandas as pd
import html5lib
calls_df = pd.read_html('https://www.shell.co.uk/business-customers/upstream-oil-and-gas-infrastructure/upstream-operational-information.html',header =0)

In [3]:
#Separating the 2 dataframes
Unplanned = calls_df[0]
Planned = calls_df[1]

In [ ]:
#The column 'Volume Impact mcm/day' should contain only float values 
# - you should create another column called 'Remarks' that contain 
# the text that follows after the number.
Unplanned['Volume impact mcm/day'].str.split('–',expand=True)
Planned['Volume impact mcm/day'].str.split('–',expand=True)

In [13]:
#check and remove for duplicates
Unplanned[Unplanned.duplicated()]
Planned[Planned.duplicated()]

Empty DataFrame
Columns: [Event ID, Message Type, Facility, Time Published, Time of Event, Expected End, Actual End, Volume impact mcm/day]
Index: []

In [16]:
#Data type, such as datetime, float, and integer, must be properly defined
Unplanned['Time Published'] = pd.to_datetime(Unplanned['Time Published'])
# Unplanned['Time Published'] = pd.to_datetime(Unplanned['Time Published'])
# Unplanned['Time Published'] = pd.to_datetime(Unplanned['Time Published'])
# Unplanned['Time Published'] = pd.to_datetime(Unplanned['Time Published'])
# Unplanned['Time Published'] = pd.to_datetime(Unplanned['Time Published'])
Unplanned.info()

In [ ]:
#All datetime fields have to be adjusted for timezone.

In [21]:
# If any of the entries is ‘unknown’, set it to null (None)
# All nan values and '-' should be converted to null (None).
# Unplanned = Unplanned.replace(np.nan,None)
Unplanned = Unplanned.astype(object).where(pd.notnull(Unplanned),None)
Unplanned = Unplanned.astype(object).where(Unplanned!='Unknown',None)

In [18]:
Unplanned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
Event ID                 4 non-null object
Message Type             4 non-null object
Facility                 4 non-null object
Time Published           4 non-null datetime64[ns]
Time of Event            4 non-null object
Expected End             2 non-null object
Actual End               2 non-null object
Volume impact mcm/day    4 non-null object
dtypes: datetime64[ns](1), object(7)
memory usage: 336.0+ bytes

In [19]:
# Unplanned[['Volume_impact','Remarks']] =

In [20]:
Volume_impact[0]

'5.6 mcm/day – No SEAL gas deliveries at Bacton due to unavailability of liquid export route. Volume impact for Shell operated offshore facility only.'